In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../datasets/leetcode_full_metadata.csv')

In [ ]:
df.head()

,title,slug,frontendQuestionId,acRate,difficulty,paidOnly_basic,isFavor,status,likes,dislikes,isPaidOnly_detail,sampleTestCase,topicTags_json,stats_parsed_json,similarQuestions_parsed_json,content_preview,num_discussions,first_discussion_title,first_discussion_url,fetched_at
0,Convert Number Words to Digits,convert-number-words-to-digits,4148,NaN,{'level': 2},True,False,NaN,3,1,True,"""onefourthree""",[],"{""totalAccepted"": ""170"", ""totalSubmission"": ""2...",[],NaN,0,NaN,NaN,2025-11-25T14:57:13.678988Z
1,Evaluate Valid Expressions,evaluate-valid-expressions,4140,NaN,{'level': 3},True,False,NaN,3,1,True,"""add(2,3)""","[{""name"": ""Hash Table"", ""slug"": ""hash-table"", ...","{""totalAccepted"": ""241"", ""totalSubmission"": ""3...","[{""title"": ""Basic Calculator II"", ""titleSlug"":...",NaN,0,NaN,NaN,2025-11-25T14:57:13.678988Z
2,Concatenate Non-Zero Digits and Multiply by Su...,concatenate-non-zero-digits-and-multiply-by-su...,4136,NaN,{'level': 2},False,False,NaN,29,7,False,"""10203004""\n[[0,7],[1,3],[4,6]]",[],"{""totalAccepted"": ""6.6K"", ""totalSubmission"": ""...",[],You are given a string s of length m consistin...,0,NaN,NaN,2025-11-25T14:57:13.678988Z
3,Concatenate Non-Zero Digits and Multiply by Sum I,concatenate-non-zero-digits-and-multiply-by-sum-i,4135,NaN,{'level': 1},False,False,NaN,13,0,False,10203004,[],"{""totalAccepted"": ""27K"", ""totalSubmission"": ""4...",[],You are given an integer n. Form a new integer...,0,NaN,NaN,2025-11-25T14:57:13.678988Z
4,Number of Effective Subsequences,number-of-effective-subsequences,4134,NaN,{'level': 3},False,False,NaN,11,2,False,"[1,2,3]",[],"{""totalAccepted"": ""1.5K"", ""totalSubmission"": ""...",[],You are given an integer array nums. The stren...,0,NaN,NaN,2025-11-25T14:57:13.678988Z